@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #0a0a0a;
}

/* 다크 스크롤바 */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #3f3f3f;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555555;
}
